.header_white .sf-menu > li > a:hover, .header_white .sf-menu > li.active > a {
    color: #00a651 !important;
}
.sf-menu ul a:hover,
.sf-menu ul li.active > a {
    color: #00a651 !important;
}

.page_breadcrumbs h2 {
    text-transform: capitalize !important;
}
.section_header {
    text-transform: capitalize !important;
}
.ls a {
    color: #00a651 !important;
}
.ls .highlight {
    color: #00a651 !important;
}
.parallax.cs.gradient2:after {
    background: none !important;
}
.teaser_icon img {
    height: 200px !important;
}
.fw_al_001_slide > p {
    color: #ffffff !important;
}

.fw_al_001_slide {
    left: 5% !important;
    bottom: 0% !important;
    text-align: left !important;
    width: 50% !important;
}

.fw_al_001_slide > div  > p {
    color: white;
    font-size: 37px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: normal;
    margin-top: 50px;
    text-shadow: 2px 2px black;
    font-family: 'Karla', sans-serif;
}
.vertical-item.content-padding footer {
    padding: 5px 35px !important;
}
.entry-meta a {
    padding: 5px !important;
}
.ls a {
    color: #000000 !important;
}
.entry-content p {
    text-align: left !important;
}
.vertical-item.content-padding .item-content {
    padding: 10px !important;
}
.submenu ul li a {
    text-transform: capitalize;
}

@media only screen and (max-width: 800px) {
    .page_topline .col-xs-6 {
        float: left;
    }
    .fw_al_001_slide > div  > p {
        font-size: 17px !important;
    }
}

.header_left_logo .logo img {
    max-width: 260px !important;
}


